/* Write your code here.
* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box1 {
  height: 70px;
  width: 300px;
  background-color: #0b69ff;
  padding: 9px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

img {
  height: 40px;
  width: 40px;
}

h4 {
  padding: 19px;
  font-family: roboto;
} */

.msg-bg {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Roboto";
}

.msg-heading {
  color: #0f172a;
  font-size: 30px;
}

.msg-card-primary {
  height: 80px;
  padding: 10px;
  min-width: 250px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  background-color: #0b69ff;
}

.msg-card-success {
  height: 80px;
  padding: 10px;
  min-width: 250px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  background-color: #2dca73;
}

.msg-card-warning {
  height: 80px;
  padding: 10px;
  min-width: 250px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  background-color: #ffb800;
}

.msg-card-danger {
  height: 80px;
  padding: 10px;
  min-width: 250px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  background-color: #ff0b37;
}

.msg-img {
  height: 20px;
  width: 20px;
  margin-right: 20px;
}

* {
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .msg-card-primary,
  .msg-card-success,
  .msg-card-warning,
  .msg-card-danger {
    min-width: 400px;
  }
}
